body {
	font-size: 20px;
}
.modalLG
{
	width: 90%;
	text-align: left;
}
.infobox
{
	float:right;
}
.officeHeader {
	color: white;
	background: #1976D2 !important;
}
.listHeader {
	color: white;
	background: #D32F2F !important;
}