
#demo {
	width: 30px;
}

#rep {
	width: 40px;
}

#youTubeIcon {
	color: #cc181e;
	padding-right: 5px;
}

body {
	font-size: 20px;
}
.modalLG
{
	width: 90%;
	text-align: left;

}

#faceIcon {
	color: #365899;
	padding-right: 5px;
	padding-left: 5px;
}


#twitterIcon {
	padding-right: 5px;
}


.officeHeader {
	color: white;
	background: #1976D2 !important;
}
.listHeader {
	color: white;
	background: #D32F2F !important;
}

.repHeader {
	font-weight: 900;
}

